<hgroup>
  <%= image_tag('mark.png', size: '400x400') %>
  <h1>Just Postcards</h1>
  <h2>The handwritten word, delivered by hand</h2>
</hgroup>
<h3>The story</h3>
<p>Today the mail is almost all bills and spam. Fast, digital communication has taken most of the joy out of receiving physical mail and leaves us expecting immediate responses so much that we rarely take the time to say important things carefully.</p>
<p>Postcards were the very core of postal services all over the world since they began, and at their peak postcards were delivered so frequently they would often arrive home <em>before you did</em>. Yet now they can be expensive to send and we only use them to tell our friends how sunny or beautiful it is where we are.</p>
<h3>The crux</h3>
<p>I want to bring some magic back to mail so I've decided to start a postal service of my own. It's a little unusual…</p>
<p>If you see me I'll deliver a postcard for you, by hand, anywhere on Earth. The nearer the destination is to places I normally am the faster it'll arrive; the further away, the longer it'll take and the more exciting my adventure to get there will be.</p>
<p>To make sure I'm not overwhelmed or left without postcards to deliver I'll ask you for a very small sum of money per delivery (10p for each postcard I've been asked to deliver in the last 7 days) which I'll donate to a literacy charity. Right now, that'd be <%= current_stamp_price %>.</p>
<p>Happy writing,</p>
<p>JP</p>